.navbar-default .navbar-brand {
    color: whitesmoke;
    background-color: rgba(12, 126, 141, 0.856);     
    margin-left: 100px;
    font-size: 26px;
  }
  
.navbar-header{
    width:400px;
    margin-left:75px;
  }
  
  
h1 {
  font-size: 26px;
  text-align: left;
  color: rgba(12, 126, 141, 0.856);
  padding: 10px;
  margin-left: 50px;
  }

p {
    padding: 10 px;
    margin-left: 50px;
}
  
.box {
  color: black;
  background: rgb(231, 227, 227);
  }
  
.box-left.box-right {
  padding: 25px;
  }
  
.table {
  color: rgb(68, 67, 67);
  background: whitesmoke;
  padding: 10px
  
  }
  
@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
  }
@media (min-width: 1024px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
  }
@media (min-width: 480px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
  }
 @media (min-width: 375px) {
  .row.row-grid [class*="col-xs-"] + [class*="col-xs-"] {
      margin-top: 0;
  }
  }